<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Tableau de bord Cliiink pour la CACPL" />
    <meta name="author" content="Anthony JACQUEMIN" />
    <title>Tableau de bord Cliiink</title>
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
    {% include 'includes/externals/headfiles.html' %}
  </head>
  <body>
    <!-- Header-->
    {% include 'includes/navbar.html' %}
    <!-- /#header -->

    <div class="container-fluid">
      <div class="row">
        <!-- Left Panel -->
        {% include 'includes/left-menu.html' %}
        <!-- /#left-panel -->
        <main role="main" class="col-md-10 ml-sm-auto col-lg-10 px-md-4">
          <div class="card text-center">
            <div class="card-header">
              <h2>Les collecteurs de la CACPL</h2>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-7">
                  <div class="chart" id="bargraph">
                    <script>
                        var graph1 = {{ plot | safe }};
                        Plotly.plot('bargraph',graph1,{});
                    </script>
                  </div>
                </div>
                <div class="col-5">
                  <div class="chart" id="bargraph2">
                      <script>
                          var graph2 = {{ plot2 | safe }};
                          Plotly.plot('bargraph2',graph2,{});
                      </script>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card text-center">
            <div class="card-header">
              <h2>Les collectes de verre de la CACPL</h2>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-7">
                  <div class="chart" id="bargraph3">
                    <script>
                        var graph3 = {{ plot3 | safe }};
                        Plotly.plot('bargraph3',graph3,{});
                    </script>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <div class="clearfix"></div>
    <!-- Footer -->
    {% include 'includes/footer.html' %}
    <!-- /Footer -->
  </body>
  <!-- Scripts -->
  {% include 'includes/externals/footerfiles.html' %}
  <script>jQuery(document).ready(function() {
    // Marque le lien dans le menu de la page "Actif"
    jQuery('#home').addClass('active');
  } );
  </script>
  <!-- Scripts -->
  </html>
